{% extends 'common_base.html'%}
{% block content %}
<div class="container">
    <h1>新密码</h1>
    <hr>
    <form action="{{url_for('users.users_password_set')}}" method="POST" onsubmit="return submit()">

        <input type="text" placeholder="password" name="password" id="password">
        <input type="submit">
    </form>

</div>
<script>
    let md5enc = (str) => {
        return hex_md5('dutbit' + hex_md5(str) + '稍有常识的人')
    }
    let submit = () => {
        let v = $("#password").val()
        console.log(v)
        if (!v || v.length < 3) {
            msgFail("无效密码")
            return false
        }
        $("#password").prop('value',md5enc(v))
        return true
    }
</script>
{% endblock %}