{% extends 'common_base.html'%}
{% block content %}
<script src="https://static.dutbit.com/md5.js"></script>
<div class="container">
    <h1>新密码</h1>
    <hr>
    <form action="{{url_for('users.users_password_set')}}" method="POST">

        <input type="text" placeholder="password" name="password" id="password">
        <input type="text" hidden value="{{token}}" name="token">
        <input type="submit" onclick="return check()">
    </form>

</div>
<script>
    let md5enc = (str) => {
        return hex_md5('dutbit' + hex_md5(str) + '稍有常识的人')
    }
    let check = () => {
        let v = $("#password").val()
        if (!v || v.length < 3) {
            msgFail("无效密码")
            return false
        }
        $("#password").prop('value',md5enc(v))
        return true
    }
</script>
{% endblock %}