{% extends 'common_base.html'%}
{% block content %}
<div class="container">
    <div class="row">
        <span class="title">反馈</span>
    </div>
    <hr>
    <form enctype="multipart/form-data" action="{{url_for('issues.root')}}" method="POST" name="discForm" id="discForm"
        onsubmit="return check()">
        <div class="form-group">
            <span style="display: none;">
                来源页面：
                <input type="text" disabled value="{{referer}}" id="source" style="width:50%" name="url" />
            </span>
        </div>
        <div class="form-group">
            <span>
                联系方式：
                <input type="text" id="contact" style="width:50%" name="contact" placeholder="邮件/电话/qq号等" />
            </span>
        </div>
        <div class="form-group">
            <span>
                反馈类型：
                <select name="type">
                    {% for t in issuetypes %}
                    <option value="{{t.typevalue}}" {% if default %}selected{% endif %}>
                        {{t.typename}}
                    </option>
                    {% endfor %}
                </select>
            </span>
        </div>
        {% if not g.user %}
        <div class="form-group" style="color:orangered;font-weight: 1000;">
            
                New：
                <a href="{{url_for('users.users_entrypoint')}}?target={{url_for('issues.root')}}" class="btn btn-sm btn-warning">
                    登录
                </a>
                以获得可能的
                <a href="{{url_for('chat.chat_index')}}">
                    站内信
                </a>
                或邮件回复
            
        </div>
        {% endif %}
        <div class="form-group">
            <textarea class="form-control" rows="5" placeholder="遇到的问题或您的建议;  信息更正类请提供同时姓名和学号以便我们核对信息" id="content"
                name="content"></textarea>
        </div>
        <div class="form-group">
            {{hcaptcha}}
            <span>
                <button type="submit" form="discForm" value="Submit" id="submit" class="btn btn-primary">提交</button>
            </span>
            <span style="font-size:20px;color:#B7472A">
                <strong id="messages">
                    {% for m in get_flashed_messages() %}
                    {{m}}
                    &nbsp;&nbsp;
                    {% endfor %}
                    &nbsp;&nbsp;
                </strong>
            </span>
        </div>
    </form>
</div>

<script src="{{url_for('issues.static',filename='js/issues.js')}}"></script>
{% if timeout %}
<script>hangon()</script>
{% endif %}
{% endblock %}