{% extends 'common_base.html'%}
{% block stylesheet %}
<style>
    .error {
        color: red;
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="title">
        <span style="font-size:28px">
            志愿时长查询增量更新
        </span>
        <span style="float:right;margin-top:10px;">
            <a href="/vol_time">查询页面</a>
        </span>
    </div>
    <a href="/static/example.csv" style="font-size:20px">样表下载</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong
        style="color:orange;font-size:20px;">请上传csv格式的文件&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"
            onclick="toggleHowTo()">怎么转换</a></strong>
    <p id="howto" style="display:none">
        <img src="/static/vol_time/howto1.png" height="300px" width="300px" />
        <img src="/static/vol_time/howto2.png" height="300px" width="600px" />
    </p>

    <hr>
    <form action="/vol_time/index.php/Vol/doupd" method="post" enctype="multipart/form-data" accept-charset="utf-8"
        class="form-horizontal">
        <!-- <input class="btn btn-default" type="file" name="data" accept=".csv" required/> -->
        <!-- 
            <input type="radio" name="fileIndex" value="0"> -->
        <h3>文件选择</h3>
        <span><a href="/vol_time/index.php/Vol/doupd">刷新文件库</a></span>
        <span><a href="https://files.dutbit.com" target="_blank">文件库</a></span>
        <div id="fileChoices"></div>
        <br>
        <span>

            <span><input class="" type="checkbox" aria-label="..." name="coverall"></span>
            <span style="color:red">全表覆盖</span>
        </span>
        <br>
        <input class="btn btn-primary" style="margin-top:10px;" type="submit" value="提交" />
    </form>
    <hr>
    <div>
            {% for m in get_flashed_messages() %}
            <p style="font-size:20px">
                {{m}}
            </p>
            {% endfor %}
    </div>
    <script>
        let toggleHowTo = ()=>{
                    $("#howto").toggle()
                }
        let fetchFiles = ()=>{
            fetch("/fileservice/upload").then(res=>res.json()).then((res)=>{
                //console.log(res)
                for(let i=0;i<res.files.length;i++){
                    let node = $(`<input type="radio" name="fileIndex" value="${res.files[i].name}" required/>`)
                    let name = $(`<span>${res.files[i].name}</span>`)
                    let br = $('<br>')
                    $("#fileChoices").append(br)
                    $("#fileChoices").append(node)
                    $("#fileChoices").append(name)
                    msgOk("文件库列表刷新成功")
                }
                }).catch(err=>{
                    console.log(err)
                    alert(err)
                    })
        }
        $(document).ready(function(){
            fetchFiles()
    });
    </script>
{% endblock %}
