{% extends 'common_base.html'%}
{% block content %}
<div class="container">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">starts with</th>
                    <th scope="col">created_by</th>
                    <th scope="col">description</th>
                    <th scope="col">role_bits</th>
                </tr>
            </thead>
            <tbody>
                {% for r in rules %}
                <tr>
                    <th scope="row">{{r.startswith}}</th>
                    <td>{{r.username}}</td>
                    <td>{{r.description}}</td>
                    <td>
                        <form method="POST" action="{{url_for('console.auth_update')}}">
                            <input type="text" hidden value="{{r.id}}" name="id">
                            {% for role in roles %}
                            <input type="checkbox" name="roles" value="{{role.role_bit}}"
                                {% if and_op(r.role_bits,role.role_bit) %} checked="checked" {% endif %}>
                            <label for="roles">{{role.role_text}}</label>
                            {% endfor %}
                            <input type="submit">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <form method="POST" action="{{url_for('console.auth_add')}}">
        <input type="text" name="startswith" placeholder="starts with" required>
        <input type="text" name="description" placeholder="description">
        {% for r in roles %}
        <input type="checkbox" name="roles" value="{{r.role_bit}}">
        <label for="roles">{{r.role_text}}</label>
        {% endfor %}
        <input type="submit">
    </form>



</div>
{% endblock %}