{% extends 'common_base.html'%}
{% block content %}
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="importModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >图片预览</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" >
                <img src="" id="imageShow" width="400px">
            </div>
            

        </div>
    </div>
</div>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<div class="row">
    <table class="table">
        <thead>
            <tr>
                {% for c in _class.__dict__.keys() %}
                {% if c[0]!="_" %}
                <th scope="col">{{c}}</th>
                {% endif %}
                {% endfor %}
                <th scope="col">Form</th>
            </tr>
        </thead>
        <tbody>
            {% for d in data %}
            <tr>
                {% for c in _class.__dict__.keys() %}
                {% if c[0] != '_' %}
                {% if loop.index0 == 1 %}
                <th scope="row">{{d.__dict__[c]}} <a href="{{url_for('crud_delete',table=_class.__tablename__)}}?id={{d['id']}}" onclick="return confirm('是否删除')">delete</a></th>
                {% else %}
                <td>
                    {% if 'image' in c and d.__dict__[c] %}
                    <button type="button" onclick="showImage('{{d.__dict__[c]}}')">查看图片</button>
                    {% else %}
                    {{d.__dict__[c]}}
                    {% endif %}
                </td>
                {% endif %}
                {% endif %}
                {% endfor %}
                <td>
                    <form method="POST" action="{{url_for('console.crud_put',table=_class.__tablename__)}}"
                        id="updateForm{{loop.index}}" enctype="multipart/form-data">
                        <select class="selector" name="key" form="updateForm{{loop.index}}">
                            <option value="" disabled selected>choose:</option>
                            {% for c in _class.__dict__.keys() %}
                            {% if c[0] != '_' and c != 'id' and constraints[c] %}
                            <option value="{{c}}" dtype="{{constraints[c]}}">{{c}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <input type="text" hidden name="dtype" id="dtypeInput">
                        <input type="text" hidden  name="id" value="{{d.id}}">
                        <div id="boolDiv" style="display: none;">
                            <input id="trueInput" type="radio" name="bool" value="1">
                            <label for="trueInput">True</label>
                            <input id="falseInput" type="radio" name="bool" value="0">
                            <label for="falseInput">False</label>
                        </div>
                        <div id="textDiv" style="display:none">
                            <input type="text" name="text">
                        </div>
                        <div id="datetimeDiv" style="display:none">
                            <input type="text" id="datetimeInput" name="datetime" width="234">
                        </div>
                        <div id="fileDiv" style="display: none;">
                            <input id="fileInput" type="file" name="file">
                        </div>
                        <input type="submit">
                    </form>
                </td>
            </tr>
            {% endfor %}
            <form action="{{url_for('console.crud_create',table=_class.__tablename__)}}" method="POST">
                {% for c in _class.__dict__.keys() %}
                {% if c[0] != '_'  and constraints[c]%}
                    <td>
                        {% if constraints[c]=='bool' %}
                        <input id="trueInput" type="radio" name="{{c}}" value="1">
                        <label for="trueInput">True</label>
                        <input id="falseInput" type="radio" name="{{c}}" value="0">
                        <label for="falseInput">False</label>
                        {% elif constraints[c]=='file'%}
                        <input id="fileInput" type="file" name="{{c}}">
                        {% elif constraints[c]=='text'%}
                        
                        <input type="text" name="{{c}}" {% if c[0:2] == 'id'%}disabled {% endif %}>
                        {% elif constraints[c]=='datetime'%}
                        <input type="text" id="datetimeInput" name="{{c}}" width="234">
                        {% endif %}
                    </td>
                {% endif %}
                {% endfor %}
                <td>
                    <input type="submit">
                </td>
            </form>
        </tbody>
</div>
<script>
    let showImage = (url)=>{
        $("#imageModal").modal('show')
        $("#imageShow").attr('src',url)
    }
    $(".selector").change(function () {
        let dtypes = ["datetime","text","bool","file"]
        let dtype = this.options[this.selectedIndex].getAttribute("dtype")
        dtypes.map((v)=>{
            let node = $(`#${v}Div`)
            v===dtype?node.show():node.hide()
        })
        $("#dtypeInput").prop('value',dtype)
    })
    $('#datetimeInput').datetimepicker({
            uiLibrary: 'bootstrap4',
            modal: true,
            footer: true
        });
</script>
{% endblock %}