{% extends 'common_base.html'%}
{% block content %}
<div class="container">
    <div class="row">
        <span style="font-size:30px;margin-left: 10px;">Console</span>
        <span class="badge badge-dark" style="float:right;margin-top:13px;margin-right: 10px;">
            {{session['email']}}
        </span>
        {% for r in roles %}
        <span class="badge badge-dark" style="float:right;margin-top:13px;margin-right: 10px;">
            {{r.role_text}}
        </span>
        {% endfor %}
    </div>
    <hr>
    {% for r in routes %}
    <p>
        <a href="{{r.startswith}}">{{r.description}}</a>
    </p>
    {% endfor %}
    <hr>
    <div id="root"></div>
    <hr>
    <div id="rules">
        <!--interceptor rules-->
 
    </div>
</div>
{% endblock %}