{% extends 'common_table.html'%}
<inr />

{% block head %}
<div class="container" style="font-size: 28px">
    <span class="title">反馈记录</span>
    <span style="float: right">
        <a href="{{url_for('issues.root')}}">反馈页面</a>
    </span>
    <span style="float: right">/</span>
    <span style="float: right">
        <a href="{{url_for('console.console_root')}}">返回控制台</a>
    </span>
</div>
{% endblock %}
<inr />

{% block script %}
<script>
    function cellStyle(value, row, index) {
        return {
            css: {
                "white-space": "nowrap",
            },
        };
    }
    $("#table").bootstrapTable({
        url: "{{url_for('console.get_issues')}}",
        pageSize: 10,
        pageList: [10, 20, 50],
        columns: [
            {
                field: "id",
                title: "id",
            },
            {
                field: "created_at",
                title: "提交时间",
                width: "7",
                widthUnit: "em",
            },
            {
                field: "url",
                visible: false,
                title: "来源页面",
            },
            {
                field: "type",
                title: "类型",
                cellStyle: cellStyle,
            },
            {
                field: "name",
                title: "姓名",
                cellStyle: cellStyle,
            },
            {
                field: "stu_id",
                title: "学号",
            },
            {
                field: "contact",
                title: "联系方式",
            },
            {
                field: "content",
                title: "内容",
            },
            {
                field: "status",
                title: "状态",
                width: "8",
                widthUnit: "em",
                editable: {
                    type: "select",
                    value: 2,
                    source: [
                        { value: 1, text: "Pending" },
                        { value: 2, text: "Star" },
                        { value: 3, text: "Done" },
                        { value: 4, text: "Invalid" },
                    ],
                },
            },
            {
                field: "user_id",
                title: "user_id",
            },
        ],
        onEditableSave: function (field, row, oldValue, $el) {
            $.ajax({
                type: "post",
                url: "{{url_for('console.issues_edit')}}",
                data: row,
                success: function (data, status) {
                    console.log(data, status);
                    if (data.status == 200) {
                        Toastify({
                            text: data.msg,
                            duration: 3000,
                            position: "left",
                        }).showToast();
                    } else {
                        msgFail(data + status);
                    }
                },
                error: function (xhr, status, error) {
                    console.log(xhr, status, error);
                    alert("编辑失败");
                },
            });
        },
    });
</script>
{% endblock %}
