{% extends 'common_table.html'%}
<inr />

{% block stylesheet %}
<style>
    .info-box__load-info {
        margin: 0px 2em;
        color: #f38200;
        font-size: 24px;
    }
</style>
{% endblock %}
<inr />

{% block head %}
<div class="container" style="font-size: 28px">
    <span class="title">志愿时长记录</span>
    <span style="float: right">
        <a href="/vol_time">查询页面</a>
    </span>
    <span style="float: right">/</span>
    <span style="float: right">
        <a href="{{url_for('console.show_vol_time_update')}}">数据更新</a>
    </span>
</div>
<div class="btn-group" role="group" id="toolbar">
    <form class="form-inline">
        <label class="sr-only" for="inlineFormInputName2">Name</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Jane Doe" />

        <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">@</div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Username" />
        </div>

        <div class="form-check mb-2 mr-sm-2">
            <input class="form-check-input" type="checkbox" id="inlineFormCheck" />
            <label class="form-check-label" for="inlineFormCheck"> Remember me </label>
        </div>

        <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
    <span class="info-box__load-info" id="toolbar"></span>
</div>
{% endblock %}
<inr />

{% block script %}
<script>
    function cellStyle(value, row, index) {
        return {
            css: {
                "white-space": "nowrap",
            },
        };
    }
    $("#table").bootstrapTable({
        url: "{{url_for('console.vol_time_data')}}",
        pageSize: 20,
        pageList: [20, 50, 80],
        columns: [
            {
                field: "id",
                title: "id",
            },
            {
                field: "stu_id",
                title: "学号",
                editable: {
                    type: "text",
                },
            },
            {
                field: "name",
                title: "姓名",
                cellStyle: cellStyle,
                editable: {
                    type: "text",
                },
            },
            {
                field: "faculty",
                title: "学院",
            },
            {
                field: "activity_DATE",
                title: "时间",
            },
            {
                field: "duration",
                title: "时长",
            },
            {
                field: "activity_name",
                title: "任务名称",
            },
            {
                field: "activity_faculty",
                title: "组织学院",
            },
            {
                field: "duty_person",
                title: "组织人",
            },
        ],
        onEditableSave: function (field, row, oldValue, $el) {
            $.ajax({
                type: "post",
                url: "{{url_for('console.vol_time_edit')}}",
                data: row,
                success: function (data, status) {
                    console.log(data, status);
                    if (data.status == 200) {
                        Toastify({
                            text: data.msg,
                            duration: 3000,
                            position: "left",
                        }).showToast();
                    } else {
                        msgFail(data + status);
                    }
                },
                error: function (xhr, status, error) {
                    console.log(xhr, status, error);
                    alert("编辑失败");
                },
            });
        },
        queryParams: function (params) {
            $("#toolbar")
                .find("input[name]")
                .each(function () {
                    params[$(this).attr("name")] = $(this).val();
                });
            return params;
        },
        onLoadSuccess: function (data) {
            if (data.sameList.length > 0) {
                $(".info-box__load-info").html("去重结果：" + data.sameList);
            } else {
                $(".info-box__load-info").html("");
            }
            console.log(data);
        },
    });
</script>
{% endblock %}
