{% extends 'common_base.html'%}
{% block content %}
<style>
    .title {
        margin: 40px 0 20px 0;
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;
    }

    .input {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .required {
        color: red;
    }
</style>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">新建投票</h4>
            </div>
            <form action="{{url_for('console.admin_votes_add')}}" method="POST" name="newVoteForm">
                <div class="modal-body">


                    <span class="required">*&nbsp;&nbsp;</span>
                    <input class="input" type="text" name="title" placeholder="标题" required><br>
                    <span class="required">&nbsp;&nbsp;&nbsp;</span>
                    <input class="input" type="text" name="subtitle" placeholder="副标题"><br>
                    <span class="required">&nbsp;&nbsp;&nbsp;</span>
                    <input class="input" type="text" name="description" placeholder="描述文字"><br>
                    <span class="required">&nbsp;&nbsp;&nbsp;</span>
                    <input class="input" type="text" name="description" placeholder="图片链接"><br>
                    <span class="required">*&nbsp;&nbsp;&nbsp;</span>
                    <input class="input" type="text" name="vote_min" placeholder="票数下限" required><br>
                    <span class="required">*&nbsp;&nbsp;&nbsp;</span>
                    <input class="input" type="text" name="vote_max" placeholder="票数上限" required><br>


                    <input class="input" type="text" name="title_label" placeholder="选项主标题标签"><br>

                    <input class="input" type="text" name="subtitle_label" placeholder="选项副标题标签">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <!--title start-->
    <div class="title">
        <span style="font-size:28px">
            投票
            <!-- <a href="/vote/populate">populate</a> -->
        </span>
        <span style="float:right;margin-top:10px;margin-right:10px;">
            <a href="{{url_for('vote.root')}}">
                返回投票
            </a>
        </span>
    </div>
    <!--title end-->
    <!--template list iteration start-->
    {% for v in info_list %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">
                <a href="{{url_for('console.admin_vote_page',vote_id=v.id)}}">{{v.title}}</a>
            </span>
            {% if v.subtitle!='' %}
            &nbsp;&nbsp;
            <span>
                {{v.subtitle}}
            </span>
            {% endif %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{url_for('console.votes_del',vote_id=v.id)}}" style="color: red;" onclick="return confirm('是否确认?')">
                删除该投票 id:{{v.id}}
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{url_for('console.crud_get',table='vote_info')}}?id={{v.id}}" style="color: orange;" target="_blank">
                修改投票信息
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{url_for('console.show_vote_stats',vote_id=v.id)}}" style="color: green;" target="_blank">
                查看投票结果
            </a>
        </div>
        <div class="panel-body">
            <p>{{ v.description }}</p>
            <p>
                {{ v.start_at }} ~
                {% if v.start_at != v.end_at %}
                {{ v.end_at }}
                {% else %}
                无截止日期
                {% endif %}
            </p>
            <p>
                {% if v.vote_min == v.vote_max %}
                只可投{{v.vote_min}}票
                {% else %}
                {% if v.vote_min != 0 %}
                最少{{v.vote_min}}票&nbsp;&nbsp;
                {% endif %}
                {% if v.vote_max != 999 %}
                最多{{v.vote_max}}票&nbsp;&nbsp;
                {% endif %}
                {% endif %}
            </p>
        </div>
    </div>
    <hr>
    {% endfor %}
    <!--template list iteration end-->
    <button class="btn btn-default" data-toggle="modal" data-target="#myModal"
        style="position: fixed;bottom:20%;right:16%;z-index: 1;">
        <img src="{{url_for('common.static',filename='img/edit.png')}}" width="30px" height="30px" />
    </button>
</div>
{% endblock %}