{% extends 'common_base.html'%}
{% block content %}
<h2>{{vote_info.title}}</h2>
<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>排行榜</th>
            <th>{{vote_info.title_label}}</th>
            <th>票数</th>
        </tr>
    </thead>
    <tbody>
        {% for c in candidates_all %}
        <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{c.title}}</td>
            <td>{{c.votes}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}