{% extends 'common_base.html' %}
{% block stylesheet %}
<link rel="stylesheet" href="{{url_for('vote.static',filename='css/vote.css')}}" />
{% endblock %}
{% block content %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="jumbotron">
        <h2 class="display-6">{{vote_info.title}}</h2>
        <p class="lead">{{vote_info.subtitle}}</p>
        <hr class="my-4">
        <p>{{vote_info.vote_min}}~{{vote_info.vote_max}}票<br>{{vote_info.description}}</p>
    </div>
    <form action="{{url_for('vote.vote_handler',vote_id=vote_info.id)}}" method="POST" id="voteForm">
        <div class="row">
            {% for c in candidate_all %}

            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="card" style="width: 18rem;">
                    {% if c.image %}
                    <img src="{{c.image}}" class="card-img-top" alt="...">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">
                            {{vote_info.title_label}}:{{c.title}}-
                            {{vote_info.subtitle_label}}:{{c.subtitle}}
                        </h5>
                        <p class="card-text">
                            {{c.description[0:40]}}
                            {% if c.description|length>40 %}
                            ...
                            {% endif %}
                        </p>
                        <p class="card-text" style="font-size: smaller;">{{c.action_at}}</p>
                        <a class="btn btn-primary" onclick="showDetails('{{c.id}}')" data-toggle="modal"
                            data-target="#exampleModal" style="color: white;">
                            查看详情</a>
                        <input type="checkbox" name="candidates" id="vote_{{c.id}}" value="{{c.id}}"
                            style="display: none;">
                        <label for="vote_{{c.id}}" class="check-btn" id="label_{{c.id}}"
                            onclick="toggleCheckedStyle('{{c.id}}')">投票</label>
                    </div>
                </div>

            </div>
            {% endfor %}

        </div>
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <hr>

            <a name="2F"></a>
            <input type="text" name="captcha" id="captchaInput" required placeholder="验证码">
            <img class="lazy" src="{{url_for('common.static',filename='img/loading.gif')}}"
                data-original="{{url_for('common.get_captcha_img')}}" width="200px" height="50px" id="captchaImg">
            {% if voted %}
            <button type="button" class="btn btn-danger" disabled>您已投过票</button>
            {% else %}
            <button type="button" class="btn btn-primary" id="submitVote">提交</button>
            {% endif %}
        </div>

    </form>
</div>

{% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/jquery-lazyload@1.9.7/jquery.lazyload.min.js"></script>
<script src="{{url_for('vote.static',filename='js/vote.js')}}"></script>
<script>
    let VOTE_MIN = Number("{{vote_info.vote_min}}")
    let VOTE_MAX = Number("{{vote_info.vote_max}}")
    let STATS_URL = "{{url_for('vote.get_vote_stats',vote_id=vote_info.id)}}"
    let SUBMIT_URL = "{{url_for('vote.vote_handler',vote_id=vote_info.id)}}"
    let showDetails = (cid) => {
        fetch(`{{url_for('vote.show_candidate')}}?cid=${cid}`).then(res => res.text())
            .then(res => {
                $("#modal-body").html(res)
            })
    }
</script>
{% endblock %}