<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
        <script src="https://cdn.jsdelivr.net/npm/echarts@5.0.0/dist/echarts.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="timeline" style="min-height: 900px;min-width: 1900px;">

        </div>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-lazyload@1.9.7/jquery.lazyload.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script>
        //alert("请避免刷新以减小服务器负载")
    </script>
    <script type="text/javascript">
        // based on prepared DOM, initialize echarts instance
        function getLocalTime(nS) {     
            return new Date(parseInt(nS) * 1000).toLocaleString().replace(/:\d{1,2}$/,' ');     
        }
        var myChart = echarts.init(document.getElementById('timeline'));
        myChart.showLoading();
        let _now = 1607601600
        let _step = 600
        let _end = 1608136800//Date.parse(new Date())/1000;
        fetch('/vote/statistics/{{vote_id}}?lim=80').then(res => res.json()).then(res => {
            let names = Object.keys(res)
            console.log(names)
            let data = {}
            for(let i=0;i<names.length;i++){
                data[names[i]] = []
                let now = _now
                let step = _step
                let end = _end
                while(now<=end){
                    let count = 0
                    for(let j=0;j<res[names[i]].length;j++){
                        if(res[names[i]][j]<now){
                            count++;
                        }
                    }
                    data[names[i]].push(count)
                    now = now + step
                }
            }
            console.log(data[names[0]])
            let result = []
            Object.keys(data).map((v,i)=>{
                result.push({
                    name:v,
                    type:'line',
                    data:data[v],
                    lineStyle:{
                        width:2
                    }
                })
            })
            let timeArr = []
            let now = _now
            let step = _step
            let end = _end
            for(let i=0;i<(end-now)/step;i++){
                timeArr.push(getLocalTime(now+i*step))
            }
            let option = {
                title: {
                    text: '排行榜--时间顺序'
                },
                tooltip: {
                    trigger: 'axis',
                    formatter:function(params){
                        let str = params[0].axisValue + "</br>"
                        let info = []
                        let compare = function(x,y){
                            if(x.value<y.value){return 1}
                            else if(x.value>y.value){return -1}
                            else{return 0}
                        }
                        for(let i=0;i<params.length-4;i=i+4){
                            for(let j=0;j<4;j++){
                                let k = params[i+j].seriesName
                                let v = params[i+j].value
                                info.push({
                                    name:k,
                                    value:v
                                })
                                //str += params[i+j].seriesName+":"+params[i+j].value+"&nbsp;&nbsp;&nbsp;&nbsp;"
                            }
                        }
                        info.sort(compare)
                        for(let i=0;i<params.length-4;i = i+4){
                            for(let j=0;j<4;j++){
                                str += info[i+j].name+":"+info[i+j].value + "&nbsp;&nbsp;&nbsp;&nbsp;"
                            }
                            str += "</br>"
                        }
                        //console.log(info)
                        return str
                    },
                },
                legend: {
                    data: names,
                    type:'scroll',
                    orient:'vertical',
                    left:0,
                    top:20,
                    bottom:10,
                },
                grid: {
                    left: '5%',
                    right: '0',
                    bottom: '0%',
                    containLabel: true
                },
                toolbox: {
                    

                    feature: {
                        saveAsImage: {},
                        dataZoom:{},
                        restore: { //重置
                            show: true
                        },
                    }
                },
                xAxis: {
                    data: timeArr
                },
                yAxis: {
                    type: 'value',
                    name: '票数',
                    min:0,
                    max:1500,
                    interval:20
                },
                axisLabel: {  
                    interval:0,  
                    rotate:40  
                },
                series: result
            }
            myChart.setOption(option);
            myChart.hideLoading();
        }).catch(err=>{
            console.log(err)
        })
        
    </script>
    </body>
</html>
{% if voted %}
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>排行榜</th>
                        <th>姓名</th>
                        <th>票数</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in candidate_all_sorted%}
                    {% if loop.index <6 %} <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{c.title}}</td>
                        <td>{{c.votes}}</td>
                    </tr>
                    {% else %}
                    <tr class="hiddenLeaderboard" style="display:none">
                        <th scope="row">{{loop.index}}</th>
                        <td>{{c.title}}</td>
                        <td>{{c.votes}}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <button class="btn btn-info" id="leaderboardToggle">开/关完整排行榜</button>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12" id="timeline" style="min-height: 300px;">
        </div>

    </div>
    {% endif %}

    <div class="p-info" style="word-break:break-all">
        <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-12">
                {% if c.image %}
                <img class="lazy personimg" src="{{url_for('common.static',filename='img/loading.gif')}}"
                    data-original="{{c.image}}" />
                {% endif %}
            </div>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <div style="word-break:break-all" class="article">
                    <p>
                        <!--序号：{{loop.index}}-->姓名：{{c.title}}&nbsp;&nbsp;&nbsp;&nbsp;所在社区：{{c.subtitle}}
                    </p>
                    <p></p>
                    <p>时间：{{c.action_at}}</p>
                    {% if voted %}
                    <p>已获：{{c.votes}}票</p>
                    {% endif %}
                    <div>
                        {% if c.description|length > 80 %}
                        <div>
                            <div id="Desc_short_{{loop.index}}">
                                <p style="word-break:break-all">
                                    周记内容：{{c.description[0:80]}}
                                    <a id="toggleDesc_{{loop.index}}" onclick="showDesc('{{loop.index}}')"
                                        class="showmore">...查看更多</a>
                                </p>
                            </div>
                            <div id="Desc_long_{{loop.index}}" style="display:none">
                                {{c.description}}
                            </div>


                        </div>
                        {% else %}
                        <div style="word-break:break-all">周记内容：{{c.description}}</div>
                        {% endif %}
                    </div>
                    <!--<input type="checkbox" name="candidates" value="{{c.id}}"/> -->
                    <input type="checkbox" name="candidates" id="vote_{{c.id}}" value="{{c.id}}"
                        style="display: none;">
                    <label for="vote_{{c.id}}" class="check-btn" id="label_{{c.id}}"
                        onclick="toggleCheckedStyle('{{c.id}}')">投票</label>
                </div>
            </div>
        </div>

    </div>