<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />
        <link rel="stylesheet" href="{{url_for('common.static',filename='css/common.css')}}" />
        <link
            rel="shortcut icon"
            href="https://static.dutbit.com/img/dutbit.ico"
            mce_href="https://static.dutbit.com/img/dutbit.ico"
            type="image/x-icon"
        />
        <style>
            body,
            html {
                height: 100%;
                width: 100%;
            }
            .main__bg img {
                width: 100%;
            }
            .main__form-box {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                top: 0;
                left: 0;
                margin-top: 200px;
                text-align: center;
            }
            .main__card-box {
                padding: 0;
                padding-bottom: 35px;
                text-align: center;
                display: inline-block;
                vertical-align: middle;
            }
            .main__cvs {
                width: 100%;
            }
            .main__card-btn {
                margin: 10px;
            }
            #cardform {
                top: 22%;
                width: 50%;
            }
        </style>
        <title>card</title>
    </head>
    <body>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">分享此专属证书生成页面</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <a href="https://www.dutbit.com{{url_for('h5.cert_form')}}"
                            >https://www.dutbit.com{{url_for('h5.cert_form')}}</a
                        >
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">长按图片以保存</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="" style="width:100%" id="imgExport" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="main__card-box">
                <canvas class="main__cvs" id="main__cvs"></canvas>
                <div class="main__card-btn btn-group" role="group">
                    <button type="button" class="btn btn-primary" id="save">保存</button>
                    <button type="button" class="btn btn-info" id="reload">重新生成</button>
                    <button
                        type="button"
                        class="btn btn-success"
                        id="share"
                        data-toggle="modal"
                        data-target="#exampleModal"
                    >
                        分享
                    </button>
                </div>
            </div>
            <div class="main_svg-test" style="display: none;"></div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-lazyload@1.9.7/jquery.lazyload.min.js"></script>
        <script src="{{url_for('common.static',filename='js/common.js')}}"></script>
        <script>
            function buildSvgImageUrl(svg) {
                b64 = window.btoa(unescape(encodeURIComponent(svg)));
                return "data:image/svg+xml;base64," + b64;
            }
            $("#reload").click(() => {
                window.location.href = "{{url_for('h5.cert_form')}}";
            });
            $("#save").click(() => {
                let cvs = document.getElementById("main__cvs");
                let data = cvs.toDataURL("image/png");
                $("#imgExport").attr("src", data);
                $("#exampleModal2").modal("show");
            });

            let cvs = document.getElementById("main__cvs");
            let img = new Image();
            img.setAttribute("crossorigin", "anonymous");
            img.src = "{{url_for('h5.static',filename='72years/cert_card.png')}}";
            img.onload = function () {
                let ctx = cvs.getContext("2d");
                cvs.width = img.width;
                cvs.height = img.height;
                console.log(img.height, img.width);
                console.log(cvs.height, cvs.width);
                ctx.drawImage(this, 0, 0, cvs.width, cvs.height);

                let text =
                    `<svg xmlns='http://www.w3.org/2000/svg' width='${cvs.width}' height='${cvs.height}'>` +
                    `<foreignObject width='${cvs.width}' height='${cvs.height}'>` +
                    `<div xmlns='http://www.w3.org/1999/xhtml' 
                    style="margin:350px;padding-top:500px;font-size:70px;
                    font-family:STKaiti, KaiTi, KaiTi_GB2312, DFKai-SB, serif;">` +
                    `<p style='font-size:200px;text-align:center;'>${"{{data.name}}"}</p>` +
                    `<p style='margin-top:-150px;text-align:center;'>来自${"{{data.department}}"}的${"{{data.name}}"}同学</p>` +
                    `<p style='margin-top:-20px;text-align:center;'>鉴于你在校园安全宣传月各项活动中的积极表现，授予称号</p>` +
                    `<p style='margin:370px 0 0 600px'>${"{{data.stu_num}}"}</p>` +
                    "</div>" +
                    "</foreignObject>" +
                    "</svg>";
                let url = buildSvgImageUrl(text);
                let imgText = new Image();
                imgText.setAttribute("crossorigin", "anonymous");
                imgText.onload = function () {
                    ctx.drawImage(this, 0, 0);
                };
                imgText.src = url;
                console.log(url);

                document.querySelector(".main_svg-test").innerHTML = text;
            };
        </script>
    </body>
</html>
