{% extends 'common_base.html'%} {% block content %}
<link href="{{url_for('h5.static',filename='css/72years.css')}}" rel="stylesheet" type="text/css" />
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">分享此贺卡生成页面</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <a href="{{url_for('h5.celeb_72_form')}}">{{url_for('h5.celeb_72_form')}}</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="main__card-box">
    <canvas class="main__cvs" id="main__cvs"></canvas>
    <div class="main__card-btn btn-group" role="group">
        <button type="button" class="btn btn-primary" id="save">保存</button>
        <button type="button" class="btn btn-info" id="reload">重新生成</button>
        <button type="button" class="btn btn-success" id="share" data-toggle="modal" data-target="#exampleModal">
            分享
        </button>
    </div>
</div>
<div class="main_svg-test" style="display: none"></div>
<script>
    function exportCanvasAsPNG(canvasElement, fileName) {
        var MIME_TYPE = "image/png";
        var imgURL = canvasElement.toDataURL(MIME_TYPE);
        var dlLink = document.createElement("a");
        dlLink.download = fileName;
        dlLink.href = imgURL;
        dlLink.dataset.downloadurl = [MIME_TYPE, dlLink.download, dlLink.href].join(":");
        document.body.appendChild(dlLink);
        dlLink.click();
        document.body.removeChild(dlLink);
    }
    $("#reload").click(() => {
        location.reload();
    });
    $("#share").click(() => {});
    $("#save").click(() => {
        exportCanvasAsPNG(document.getElementById("main__cvs"), `dut72years_card_${Date.parse(new Date())}.png`);
    });

    let cvs = document.getElementById("main__cvs");
    let img = new Image();
    img.setAttribute("crossOrigin", "Anonymous");
    img.src = "{{url_for('h5.static',filename='72years/'+image[0])}}";
    img.onload = function () {
        let ctx = cvs.getContext("2d");
        cvs.width = img.width;
        cvs.height = img.height;
        console.log(img.height, img.width);
        console.log(cvs.height, cvs.width);
        ctx.drawImage(this, 0, 0, cvs.width, cvs.height);

        let text = `我是${"{{data.name}}"}，是一名${"{{data.identity}}"}。72周年校庆之际，我在${"{{data.location}}"}祝大工${"{{data.wish}}"}`;
        console.log(text);
        text =
            `<svg xmlns='http://www.w3.org/2000/svg' width='${cvs.width * 0.6}' height='${cvs.height * 0.45}'>` +
            `<foreignObject width='${cvs.width * 0.6}' height='${cvs.height * 0.45}'>` +
            "<div xmlns='http://www.w3.org/1999/xhtml' style='padding:20px;font-size:70px;'>" +
            `<p style='margin-top: 0px'>亲爱的大工：</p>` +
            `<p style='text-indent: 2em;'>${text}</p><br/><br/>` +
            `<p style='text-align:right'>你的DUTER</p>` +
            "</div>" +
            "</foreignObject>" +
            "</svg>";
        let DOMURL = window.URL || window.webkitURL || window;
        let svg = new Blob([text], { type: "image/svg+xml" });
        let url = DOMURL.createObjectURL(svg);
        let imgText = new Image();
        imgText.setAttribute("crossOrigin", "Anonymous");
        imgText.onload = function () {
            ctx.drawImage(this, 0.2 * cvs.width, 0.27 * cvs.height);
            DOMURL.revokeObjectURL(url);
        };
        imgText.src = url;

        let imgQR = new Image()
        imgQR.setAttribute('crossOrigin','Anonymous')
        imgQR.src ="{{url_for('h5.static',filename='72years/qr.jpg')}}"
        imgQR.onload = function(){
            ctx.drawImage(this,0.2*cvs.width,0.62*cvs.height,0.17*cvs.width,0.17*cvs.width)
        }

        document.querySelector(".main_svg-test").innerHTML = text;
    };
</script>
{% endblock %}
