{% extends 'common_base.html'%} {% block content %}
<link href="{{url_for('h5.static',filename='css/72years.css')}}" rel="stylesheet" type="text/css" />
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">分享此贺卡生成页面</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <a href="https://www.dutbit.com{{url_for('h5.celeb_72_form')}}">https://www.dutbit.com{{url_for('h5.celeb_72_form')}}</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">长按图片以保存</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="" width="90%" height="90%" id="imgExport">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="main__card-box">
    <canvas class="main__cvs" id="main__cvs"></canvas>
    <div class="main__card-btn btn-group" role="group">
        <button type="button" class="btn btn-primary" id="save">保存</button>
        <button type="button" class="btn btn-info" id="reload">重新生成</button>
        <button type="button" class="btn btn-success" id="share" data-toggle="modal" data-target="#exampleModal">
            分享
        </button>
    </div>
</div>
<div class="main_svg-test" style="display: none"></div>
<script>
    function buildSvgImageUrl(svg) {
        b64 = window.btoa(unescape(encodeURIComponent(svg)));
        return "data:image/svg+xml;base64," + b64;
    }
    $("#reload").click(() => {
        window.location.href = "{{url_for('h5.celeb_72_form')}}"
    });
    $("#save").click(() => {
        let data = "123"
        var MIME_TYPE = "image/png";
        cvs = document.getElementById("main__cvs")
        data = cvs.toDataURL(MIME_TYPE);
        $("#imgExport").attr("src", data);
        $("#exampleModal2").modal('show')
    });

    let cvs = document.getElementById("main__cvs");
    let img = new Image();
    img.setAttribute('crossorigin', 'anonymous');
    img.src = "{{url_for('h5.static',filename='72years/'+image[0])}}";
    img.onload = function () {
        let ctx = cvs.getContext("2d");
        cvs.width = img.width;
        cvs.height = img.height;
        console.log(img.height, img.width);
        console.log(cvs.height, cvs.width);
        ctx.drawImage(this, 0, 0, cvs.width, cvs.height);

        let text =
            `我是${"{{data.name}}"}，是一名${"{{data.identity}}"}。在您72岁生日到来之际，我在${"{{data.location}}"}祝大工${"{{data.wish}}"}`;
        console.log(text);
        text =
            `<svg xmlns='http://www.w3.org/2000/svg' width='${cvs.width * 0.6}' height='${cvs.height * 0.45}'>` +
            `<foreignObject width='${cvs.width * 0.6}' height='${cvs.height * 0.45}'>` +
            `<div xmlns='http://www.w3.org/1999/xhtml' 
            style="padding:20px;font-size:70px;
            font-family: Baskerville, Georgia,  
            STKaiti, KaiTi, KaiTi_GB2312, DFKai-SB, serif;">` +
            `<p style='margin-top: 0px'>亲爱的大工：</p>` +
            `<p style='text-indent: 2em;'>${text}</p>` +
            `<p style='text-align:right'>你的DUTer</p>` +
            "</div>" +
            "</foreignObject>" +
            "</svg>";
        let url = buildSvgImageUrl(text)
        let imgText = new Image();
        imgText.setAttribute('crossorigin', 'anonymous');
        imgText.onload = function () {
            ctx.drawImage(this, 0.2 * cvs.width, 0.27 * cvs.height);
        };

        imgText.src = url;

        let imgQR = new Image()
        imgQR.setAttribute('crossorigin', 'anonymous');

        imgQR.src = "{{url_for('h5.static',filename='72years/qr.jpg')}}"
        imgQR.onload = function () {
            ctx.drawImage(this, 0.2 * cvs.width, 0.62 * cvs.height, 0.17 * cvs.width, 0.17 * cvs.width)
        }

        document.querySelector(".main_svg-test").innerHTML = text;
    };
</script>
{% endblock %}