{% extends 'common_base.html'%}
{% block content %}
<link href="{{url_for('h5.static',filename='css/72years.css')}}" rel="stylesheet" type="text/css">
<div class="container main">

    <form action="{{url_for('h5.celeb_72_card')}}" method="POST"
        style="position:absolute;top:22%;width: 50%;margin-left:22%" id="cardform">
        <button type="submit" style="display: none;" id="submit"></button>
        <div class="form-group">
            <a href="#" onclick="handleSubmit()">
                <img src="{{url_for('h5.static',filename='72years/button.png')}}" width="50px" height="50px">

            </a>
        </div>
        <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="我的名字：" required maxlength="6">
        </div>
        <div class="form-group">

            <select name="identity" form="cardform" id="identity" class="form-control" required>
                <option value="" disabled selected>我的身份：</option>
                <option value="学生">学生</option>
                <option value="老师">老师</option>
                <option value="校友">校友</option>
                <option value="窝工粉丝">窝工粉丝</option>
            </select>
        </div>
        <div class="form-group">
            <input type="text" name="location" class="form-control" placeholder="我的地点：" required maxlength="20">
        </div>
        <div class="form-group">
            <select name="wish" form="cardform" id="wish" onchange="handleChange()" class="form-control" required>
                <option value="" disabled selected>我祝大工：</option>
                <option value="学子越长越帅，越长越靓">学子越长越帅，越长越靓</option>
                <option value="妖风越来越温柔，猫猫越来越胖">妖风越来越温柔，猫猫越来越胖</option>
                <option value="学子头发多多，早日脱单">学子头发多多，早日脱单</option>
                <option value="玉兰越来越好看">玉兰越来越好看</option>
                <option value="就是好，越来越好">就是好，越来越好</option>
                <option value="others">自定义祝福</option>
            </select>
        </div>
        <div class="form-group" style="display:none" id="wish_other">
            <input type="text" name="wish_other" placeholder="我的祝福：" class="form-control" maxlength="100">
        </div>
    </form>
</div>
<script>
    let handleChange = () => {
        let v = $("#wish").val()
        if (v === 'others') {
            $("#wish_other").show()
        } else {
            $("#wish_other").hide()
        }
    }
    let handleSubmit = () => {
        $("#submit").click()
    }
</script>
<!--
    文案方面我们有一些调整，我们目前是三个空，现在想改成四个空：
第一个是名字，填空；
第二个是身份，选择，下拉菜单那种，选项——学生，老师，校友，窝工粉丝；
第三个是地点，填空；
第四个是祝福，选择，下拉菜单，选项里面有五到六个文案，我一会发你，然后也有选项是自己写祝福，然后留出写的。
另外我们调整一下金色的和银色的那个卡，那个卡出现概率再低一些
然后每一个贺卡都留一个二维码的位置，那个二维码是我们h5的码，h5明天早上能做好，到时候麻烦加一下。
-->
{% endblock %}