{% extends 'common_base.html'%}
{% block content %}
<script src="https://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
<script src="https://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<style>
    .error {
        color: rgba(255, 0, 0, .8);
    }

    .myblock {
        padding: 10px 0;
        margin: 16px 0;
        background-color: #fff;
        color: #555;
    }

    .layui-form-label {
        width: auto !important;
        padding-left: 40px !important;
    }

    .myblock input {
        border: none;
        padding-left: 40px;
        color: #555;
    }

    * {
        margin: 0;
        padding: 0;
        font-family: "montserrat", sans-serif;

    }

    .all {
        background: rgba(247, 192, 170, 0.842);

        background: #336699;
        background: rgba(247, 178, 87, 1);
        background: rgba(0, 163, 226, 1);
        background: rgba(141, 204, 213, 1);
        background: #364D65;


        padding: 40px 0;
    }

    .all h1 {
        text-align: center;
    }

    .border {
        width: 100px;
        height: 10px;
        background: rgb(160, 92, 92);
        background: rgba(247, 178, 87, 1);
        margin: 40px auto;
    }

    .application {
        max-width: 600px;
        margin: auto;
        padding: 0 10px;
        overflow: hidden;
    }

    .application-text {
        display: block;
        width: 100%;
        box-sizing: border-box;
        margin: 16px 0;
        border: 0;
        padding: 20px 40px;
        outline: none;
        transition: 0.5s;

    }

    .application-text:hover {
        box-shadow: 0 0 10px 4px rgb(85, 131, 175);
    }

    textarea.application-text {
        resize: none;
        height: 120px;
    }

    .application-btn {
        float: right;
        border: 0;
        background: rgb(160, 92, 92);
        background: rgba(247, 178, 87, 1);
        color: #000;
        padding: 12px 50px;
        border-radius: 20px;
        cursor: pointer;
        transition: 0.5s;
        font-weight: 700;
    }

    .application-btn:hover {
        background: rgba(21, 100, 204, 0.89);
        background: rgba(247, 178, 87, 1);
    }
</style>
<div class="all">
    <h1 style="color:#fff">报名表
    </h1>
    <div class="border"></div>
    <form class="application layui-form" id="application" action="/enroll/index.php/form/signup" onsubmit=""
        method="POST">
        <input type="text" style="display:none;" id="form-id" name="id" value="" />

        <input type="text" class="application-text" placeholder="姓名" id="name" name="name">
        <!--
        <input type="text" class="application-text" placeholder="性别（请输入男/女)" id="sex" name="sex">-->
        <div class="layui-form-item myblock">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="男" title="男" checked="" />
                <input type="radio" name="sex" value="女" title="女" />
            </div>
        </div>
        <label id="sex-tips" class="error"></label>
        <input type="text" class="application-text" placeholder="学号" id="num" name="num">
        <label id="num-tips" class="error"></label>
        <input type="text" class="application-text" placeholder="手机" id="phone" name="phone">
        <input type="email" class="application-text" placeholder="邮箱" id="email" name="email">
        <input type="text" class="application-text" placeholder="特长（如：写作/办公软件/ps/摄影...）" id="speciality"
            name="speciality">

        <textarea class="application-text" placeholder="学生工作经历" id="info" name="info"></textarea>

        <input type="submit" class="application-btn" onclick="" value="提交">
    </form>
</div>
{% endblock %}