<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>反馈管理</title>
    <link rel="shortcut icon" href="/vol_time/static/favicon.ico" />
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <!--<script src="https://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>-->
</head>

<body>
    <div class="container">
        <span>{{role}}</span>
        <a style="float:right;margin-top:10px" href="{{url_for('issues.root')}}">上报页面</a>
        <table id="data-table" class="table" style="margin-top:50px">
            <thead>
                <tr>
                    <td>url</td>
                    <td>联系方式</td>
                    <td>内容</td>
                    <td>上报时间</td>
                    <td>ip</td>
                </tr>
            </thead>
            <tbody id="table-con">
                {% for i in issues %}
                <tr>
                    <td>{{i.url}}</td>
                    <td>{{i.contact}}</td>
                    <td>{{i.content}}</td>
                    <td>{{i.created_at}}</td>
                    <td>{{i.ip}}</td>"
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>