<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    
    <link rel="stylesheet" href="{{url_for('vote.static',filename='css/vote.css')}}" />
    <link rel="stylesheet" href="{{url_for('common.static',filename='css/common.css')}}" />
    <link rel="shortcut icon" href="https://static.dutbit.com/img/dutbit.ico"
    mce_href="https://static.dutbit.com/img/dutbit.ico" type="image/x-icon">

    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"></script>
    <script src="{{url_for('common.static',filename='js/common.js')}}"></script>
    <title>{{title}}</title>
</head>

<body>

    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    {% block content%}
    {% endblock %}
    <div id="footer">
        <p>
            <a href="https://github.com/dutbit/uni_studio">
                <span class="badge badge-info">{{get_ver()}}</span>
            </a>
            &nbsp;&nbsp;|&copy;
            <a href="/">校团委·比特网络工作室</a>|
            <a href="{{url_for('issues.root')}}">问题/建议反馈</a> |
            <a href="{{root}}">返回主页</a>
        </p>
    </div>
    
</body>
</html>