<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="vote page">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>{{vote_info.title}}</title>

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{url_for('vote.static',filename='css/vote.css')}}" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.0.0/dist/echarts.min.js"></script>
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="modal fade" id="diaryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="_myModalLabel">周记全文</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p id="diaryText" style="word-break:break-all">
                    </p>
                </div>
            </div>
        </div><!-- /.modal -->
    </div>
    <div id="header">
        <a name="1F"></a>
        {% if vote_info.image %}
        <img src="{{vote_info.image}}" />
        {% endif %}
        <h2>{{vote_info.title}}</h2>
        <h3>{{vote_info.subtitle}}</h3>
        <h4>{{vote_info.description}}</h4>
        <h4>{% if vote_info.start_at!=vote_info.end_at%}
            {{vote_info.start_at}}~{{vote_info.end_at}}
            {% else %}
            {{vote_info.start_at}}~无截止日期
            {% endif %}
        </h4>
    </div>
    <div id="root"></div>
    <div class="container" style="margin-bottom: 50px;">
        
        {% if voted %}
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>排行榜</th>
                            <th>姓名</th>
                            <th>票数</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in candidate_all_sorted%}
                        {% if loop.index <6 %}
                        <tr>
                            <th scope="row">{{loop.index}}</th>
                            <td>{{c.title}}</td>
                            <td>{{c.votes}}</td>
                        </tr>
                        {% else %}
                        <tr class="hiddenLeaderboard" style="display:none">
                            <th scope="row">{{loop.index}}</th>
                            <td>{{c.title}}</td>
                            <td>{{c.votes}}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                <button class="btn btn-default" id="leaderboardToggle">开/关完整排行榜</button>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12" id="timeline" style="min-height: 300px;">

            </div>

        </div>
        {% endif %}
        <form action="{{url_for('vote.vote_handler',vote_id=vote_info.id)}}" method="POST" id="voteForm">

            {% for c in candidate_all %}
            <div class="col-md-6 col-sm-12 col-xs-12 person">
                <div class="p-info" style="word-break:break-all">
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            {% if c.image %}
                            <img class="lazy personimg" src="/static/img/loading.gif" data-original="{{c.image}}" />
                            {% endif %}
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <div style="word-break:break-all" class="article">
                                <p>
                                    <!--序号：{{loop.index}}-->姓名：{{c.title}}&nbsp;&nbsp;&nbsp;&nbsp;所在社区：{{c.subtitle}}
                                </p>
                                <p></p>
                                <p>时间：{{c.action_at}}</p>
                                {% if voted %}
                                <p>已获：{{c.votes}}票</p>
                                {% endif %}
                                <div>
                                    {% if c.description|length > 80 %}
                                    <div>
                                        <div id="Desc_short_{{loop.index}}">
                                            <p style="word-break:break-all">
                                                周记内容：{{c.description[0:80]}}
                                                <a id="toggleDesc_{{loop.index}}" onclick="showDesc('{{loop.index}}')"
                                                    class="showmore">...查看更多</a>
                                            </p>
                                        </div>
                                        <div id="Desc_long_{{loop.index}}" style="display:none">
                                            {{c.description}}
                                        </div>


                                    </div>
                                    {% else %}
                                    <div style="word-break:break-all">周记内容：{{c.description}}</div>
                                    {% endif %}
                                </div>
                                <!--<input type="checkbox" name="candidates" value="{{c.id}}"/> -->
                                <input type="checkbox" name="candidates" id="vote_{{c.id}}" value="{{c.id}}"
                                    style="display: none;">
                                <label for="vote_{{c.id}}" class="check-btn" id="label_{{c.id}}"
                                    onclick="toggleCheckedStyle('{{c.id}}')">投票</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                <hr>

                <a name="2F"></a>
                <input type="text" name="captcha" id="captchaInput" required placeholder="验证码">
                <img src="{{captcha_b64}}" width="200px" height="50px" id="captchaImg">
                {% if voted %}
                <button type="button" class="btn btn-danger" disabled>您已投过票</button>
                {% else %}
                <button type="button" class="btn btn-primary" onclick="checkForm()">提交</button>
                {% endif %}
            </div>

        </form>
        <div style="position: fixed;bottom:20%;right:16%;z-index: 1;">
            <a href="#1F">
                <button class="btn btn-default">
                    ↑
                </button>
            </a>
            <br>
            <a href="#2F">
                <button class="btn btn-default">
                    ↓
                </button>
            </a>
        </div>

    </div>
    <div id="footer">
        <p>技术支持:<a href="/" style="color:white;">2020 校团委宣传部比特网络工作室</a>|
            <a href="{{url_for('issues.root')}}">问题/建议反馈</a> |
            <a href="{{url_for('vote.root')}}">返回列表</a></p>
    </div>
    <script src="" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-lazyload@1.9.7/jquery.lazyload.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $("img.lazy").lazyload({ threshold: 200 });
            $("#leaderboardToggle").click(() => {
                $(".hiddenLeaderboard").toggle()
            })
        });
        let toggleCheckedStyle = (loopid) => {
            if ($(`#label_${loopid}`).hasClass('check-btn-checked')) {
                $(`#label_${loopid}`).removeClass('check-btn-checked')
                //$(`#label_${loopid}`).addClass('check-btn')
            } else {
                $(`#label_${loopid}`).addClass('check-btn-checked')
                //$(`#label_${loopid}`).removeClass('check-btn')
            }
        }
        let showDesc = (loopid) => {
            $("#diaryText").text($(`#Desc_long_${loopid}`).text())
            $("#diaryModal").modal('show')
        }
        let msgOK = (s) => {
            Toastify({
                text: s,
                duration: 3000,
                backgroundColor: "linear-gradient(to right, #00b09b, #00b09b)",
            }).showToast();
        }
        let msgFail = (s) => {
            Toastify({
                text: s,
                duration: 3000,
                backgroundColor: "linear-gradient(to right, #EF100F, #EF100F)",
            }).showToast();
        }
        let checkForm = () => {
            let minVote = {{ vote_info.vote_min }}
            let maxVote = {{ vote_info.vote_max }}
            let count = $("input[name='candidates']:checked").length;
            console.log(count)
            if (count < minVote || count > maxVote) {
                msgFail(`最少${minVote}票，最多${maxVote}票，已投${count}票`)
                return
            }
            let cptinput = $("#captchaInput").val()
            console.log(cptinput)
            if (!cptinput) {
                msgFail("验证码不可为空")
                return
            }
            fetch("{{url_for('vote.check_captcha')}}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    "captcha": cptinput
                })
            }).then(res => res.json()).then((res) => {
                if (!res.success) {
                    msgFail(res.data)
                    $("#captchaImg").attr("src", res.captcha_b64)
                    return false
                } else {
                    $("#voteForm").submit()
                }
            }).catch(err => {
                msgFail("网络错误")
                return false
            })
            return false
        }

    </script>
    <script>
        {% if voted %}
        msgFail("您已投过票！")
        {% endif %}
    </script>
    <script type="text/javascript">
        // based on prepared DOM, initialize echarts instance
        function getLocalTime(nS) {     
            return new Date(parseInt(nS) * 1000).toLocaleString().replace(/:\d{1,2}$/,' ');     
        }
        var myChart = echarts.init(document.getElementById('timeline'));
        myChart.showLoading();
        fetch('/vote/statistics/6').then(res => res.json()).then(res => {
            console.log(res)
            let legends = Object.keys(res)
            let data = {}
            for(let i=0;i<legends.length;i++){
                data[legends[i]] = []
                let now = 1607601600//1607601600//1607601600//12.10 20:00
                let step = 900//15min
                let end = Date.parse(new Date())/1000;//1607601600 + 48*3600//1608135600//1607659200//1608135600//12.16 24:00 
                let max = 0
                let timeArr = Object.keys(res[legends[i]])
                //console.log(res[legends[i]])
                //console.log(timeArr)
                while(now<=end){
                    
                    if(parseInt(timeArr[0])>=now){//最新的时间比当前时间大，直接推0
                        data[legends[i]].push(max)
                        now = now + step
                        continue
                    } else {
                        let t=0;
                        while(parseInt(timeArr[t])<now && t!=timeArr.length-1){
                            t++;
                        }
                        max = res[legends[i]][timeArr[t]]
                        data[legends[i]].push(max) 
                        now = now + step
                        continue
                    } 
                }
                console.log(data[legends[i]])
                //console.log('-------')
                //break
            }
            let result = []
            Object.keys(data).map((v,i)=>{
                result[i] = {
                    name:v,
                    type:'line',
                    data:data[v]
                }
            })
            let ta = []
            let now = 1607601600//1607601600//1607601600//12.10 20:00
            let step = 900//15min
            let end = Date.parse(new Date())/1000;//1607601600 + 48*3600//1608135600//1607659200//1608135600//12.16 24:00 
            for(let i=0;i<(end-now)/step;i++){
                let ts = 1607601600 + i*900
                ta.push(getLocalTime(ts))
            }
            //console.log('ta:',ta)
            //console.log('result:',result)
            let option = {
                title: {
                    text: '排行榜--时间顺序'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: legends
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    data: ta
                },
                yAxis: {
                    type: 'value',
                    name: '票数',
                    min:0,
                    max:300,
                    interval:15
                },
                series: result
            };
            // specify chart configuration item and data
            console.log(option.legend)

            // use configuration item and data specified to show chart
            myChart.setOption(option);
            myChart.hideLoading();
        })
        
    </script>
</body>

</html>