html{height:100%}
body{min-height:100%}
#footer{
    position: absolute;
    bottom:0%;
    background-color:#286090;
    height: 32px;
    width: 100%;
}
#footer p{
    text-align: center;
    color:#eee;
    font-size: .8em;
    padding:.5em;
    margin:0;
}
#footer a{
    color:#eee;
}