html{height:100%}
body{min-height:100%}

#footer{
    text-align: center;
    color:#eee;
    font-size: .8em;
}
#footer a{
    color:#eee;
}
.navbar-custom {
    background-color: #ff5500;
}
.bg-dark {
    background-color: #286090 !important;
}
.container {
    margin-top:10px;
}
.title {
    font-size:30px;margin-left: 20px;
}